.weather-module {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.weather-module_GPS,
.weather-module_input {
  width: 30%;
}

.date-temp-icons {
  display: flex;
  align-items: center;
}
